<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.BoardMapper">
	
	<!-- 페이지 나누기 조회 -->
	<select id="list" resultType="com.spring.domain.BoardDTO">
		<![CDATA[
			select bno,title,writer,regdate
			from (select /*+INDEX_DESC(diary_board pk_diary_board)*/ rownum rn, bno, title, writer,regdate
			      from diary_board
			      where writer = #{writer} and
		]]>	 
			<include refid="criteria"></include>		     	     
		<![CDATA[	      
			      rownum <= (#{page}*#{amount}))
			where rn > (#{page}-1)*#{amount}		
		]]>
	</select>
	
	<!-- <select id="list" resultType="com.spring.domain.BoardDTO">
		select *
		from diary_board
		where writer=#{writer}
	</select> -->
	

	<!-- 전체 게시물 개수 : totalCnt -->
	<select id="totalCnt" resultType="java.lang.Integer">
		select count(*) from diary_board
		where
			<include refid="criteria"></include>
		bno > 0		
	</select>
	
	
	
	
	<!-- 동적 쿼리 
	
		board/list?page=1&amount=20&type=T&keyword=파이썬     요청
	
	    collection="typeArr" => Criteria 객체의 getTypeArr() 메소드 실행됨 => [T]
	    item="type" => 배열 요소를 접근하기 위한 변수  
	-->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%' 
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%' 
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	
	
	
	
	
	<!-- 글 등록 -->
	<insert id="insert">
		insert into diary_board(title,content,writer) 
		values(#{title},#{content},#{writer})
	</insert>

	<!-- 특정 번호 조회  -->
	<select id="get" resultType="com.spring.domain.BoardDTO">
		select bno,title,writer,content from diary_board where bno=#{bno}
	</select>
	
	
	<resultMap type="com.spring.domain.AttachFileDTO" id="attachMap">
		<result property="uuid" column="uuid"/>
		<result property="uploadPath" column="uploadPath"/>
		<result property="fileName" column="fileName"/>
		<result property="fileType" column="fileType"/>
		<result property="bno" column="bno"/>
	</resultMap>	
	
	
	
	
	<!-- 글 수정 : bno 일치 시 (title, content, updatedate) -->
	<update id="update">
		update diary_board set title=#{title}, content=#{content}, updatedate=sysdate
		where bno=#{bno}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="delete">
		delete from diary_board where bno=#{bno}
	</delete>
</mapper>















